<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đăng nhập</title>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/style.css}">
	<script th:src="@{/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/app-script.js}"></script>
</head>

<body>

	<!-- Navigation Bar -->
	<nav th:replace="~{page-component :: header}"></nav>

	<div th:if="${successMessage}" class="alert alert-success text-center">
		<span th:text="${successMessage}"></span>
	</div>


	<div class="login-container">
		<div class="login-form">
			<div th:if="${successMessage}" class="alert alert-success text-center">
				<span th:text="${successMessage}"></span>
			</div>
			<h1>Đăng nhập</h1>
			<form method="post" action="/api/auth/login">				
				
				<label for="email">Email:</label>
				<input type="email" name="email" id="email" class="form-control" required>

				<label for="password">Mật khẩu:</label>
				<div class="password-container">
					<input type="password" id="password" name="password" class="form-control"
						required>
				</div>

				<a href="#" class="forgot-password">Quên mật khẩu?</a>

				<button id="login" type="submit" class="login-btn" disabled>Đăng nhập</button>
				<br><br>
				<p>Chưa có tài khoản? <a href="/signup">Đăng ký ngay</a></p>
			</form>

			<!-- Kiểm tra nếu có lỗi thì hiển thị thông báo -->
			<div th:if="${param.error}" class="alert alert-danger" role="alert">
				<p th:text="${param.error}">
					Sai tên đăng nhập hoặc mật khẩu!
				</p>
			</div>
		</div>
	</div>
	<button  onclick="test()">Click me</button>
	<footer th:replace="~{page-component :: footer}"></footer>
	<script>
		function checkInputs() {
			var email = document.getElementById('email').value;
			var password = document.getElementById('password').value;
			var button = document.getElementById('login');

			if (email && password) {
				button.disabled = false; // Enable the button
			} else {
				button.disabled = true; // Disable the button
			}
		}

		// Add event listeners to both inputs
		document.getElementById('email').addEventListener('input', checkInputs);
		document.getElementById('password').addEventListener('input', checkInputs);
		
		
		
		// Hàm gọi API user profile với token trong cookie
		async function test() {
			
		    const response = await fetch("http://localhost:8080/api/test", {
		        method: "GET",
				credentials: "include"
		    });

		    if (!response.ok) {
		        console.error("Failed to fetch user profile:", response.status);
		        return;
		    }

		    console.log("User Profile:", response);
		}
		
	</script>

</body>


</html>