<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Danh sách người dùng</title>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/style.css}">
	<script th:src="@{/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/app-script.js}"></script>
</head>

<body>
	<!--<nav th:replace="~{page-component :: header}"></nav>
		<footer th:replace="~{page-component :: footer}"></footer>-->

		<nav th:replace="~{page-component :: header}"></nav>
	<h3 class="page-title text-center">Danh sách người đăng ký</h3>
	<div class="container mt-4">
		<table class="table table-hover table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Họ và tên</th>
					<th>Email</th>
					<th>Avatar</th>
					<th>Hành động</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${appUsers}">
					<td th:text="${user.fullName}"></td>
					<td th:text="${user.email}"></td>
					<td>
						<img th:src="${user.avatarUrl}" alt="Avatar" class="rounded-circle" width="50" height="50">
					</td>
					<td>
						<a th:href="@{/appusers/{id}(id=${user.id})}" class="btn btn-info btn-sm">Chi tiết</a>
						<a th:href="@{/appusers/{id}/edit(id=${user.id})}" class="btn btn-primary btn-sm">Sửa</a>
						<a th:href="@{/manager-appuser/verify/{id}/approve(id=${user.id})}"
							class="btn btn-success btn-sm">Approve</a>
						<a th:href="@{/appusers/{id}/delete(id=${user.id})}" class="btn btn-danger btn-sm"
							onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Xóa</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{page-component :: footer}"></footer>

</body>

</html>