<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="#{meetYourGuides}">Tìm hướng dẫn viên</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="tour-guides.css">
	<script src="script.js"></script>


	<style>
		.checkbox-container {
			width: 1366px;
			gap: 20px;
			margin: 0 auto;
		}

		.result-number {
			width: 1366px;
			gap: 20px;
			margin: 20px auto;
			text-align: right;
			color: rgb(19, 157, 122);
			font-weight: bold;
			font-size: 21px;
		}

		.tabindex a {
			background-color: white;
			border: solid 1px #ccc;
			border-radius: 20px;
			padding: 8px;
			cursor: pointer;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 16px;
			width: 16px;
			transition: border 0.5s ease, color 0.5s ease;
		}

		.tabindex a:hover {
			border: solid 1px rgb(19, 157, 122);
			color: rgb(19, 157, 122)
		}
	</style>
</head>

<body>

	<!-- Navigation Bar -->
	<div th:replace="~{components :: header}"></div>

	<div class="subheader">
		<nav>
			<ul>
				<li>
					<a href="/" style="text-decoration: none;"><span th:replace="~{icons :: home}"></span></a>
					<span th:replace="~{icons :: breadcrumb}"></span>
				</li>

				<li th:if="${city.equals('all')}">
					<a href="/tour-guides" style="text-decoration: none;" th:text="#{guides}">Hướng dẫn viên</a>
				</li>
				<li th:unless="${city.equals('all')}">
					<a href="/tour-guides" th:text="#{guides}">Hướng dẫn viên</a>
					<span th:replace="~{icons :: breadcrumb}"></span>
				</li>
				<li th:unless="${city.equals('all')}">
					<a th:href="@{'/tour-guides?city=' + ${city}}" style="text-decoration: none;">
						<span th:text="${city}">Hà Nội</span>
					</a>
				</li>
			</ul>
		</nav>

	</div>

	<div class="checkbox-container">
		<label>
			<input type="checkbox" id="vietnamese" checked> Việt Nam
		</label>
		<label>
			<input type="checkbox" id="ennglish" checked> English
		</label>
	</div>

	<div class="result-number" th:text="#{guideCount(90)}">Khám phá 90 hướng dẫn viên</div>


	<section class="local-guides">
		<div class="guides">
			<div class="profile-card">
				<!-- Profile Image -->
				<img src="images/avatar/guide4.jpg" alt="Diana B." class="profile-img">

				<!-- Card Content -->
				<div class="profile-card-content">
					<h2 class="name">Mr. Tuấn</h2>

					<!-- Rating -->
					<div class="rating">
						⭐⭐⭐⭐⭐ <span class="review-count">(22)</span>
					</div>

					<!-- Location -->
					<div class="location">
						<img src="images/icons/location-icon.webp" style="width: 16px; height: 16px;">
						Hạ Long + Cát Bà + Cô Tô
					</div>

					<!-- Languages -->
					<div class="languages">
						<img src="images/icons/language-icon.PNG" style="width: 16px; height: 16px;">
						Việt Nam, English
					</div>
				</div>

				<!-- Action Buttons -->
				<div class="profile-card-footer">
					<button class="message-btn" th:text="#{sendMessage}">💬 Gửi tin nhắn</button>
				</div>
			</div>

			<div class="profile-card">
				<!-- Profile Image -->
				<img src="images/avatar/guide3.jpg" alt="Diana B." class="profile-img">

				<!-- Card Content -->
				<div class="profile-card-content">
					<h2 class="name">Nguyễn Khánh Nam</h2>

					<!-- Rating -->
					<div class="rating">
						⭐⭐⭐⭐⭐ <span class="review-count">(22)</span>
					</div>

					<!-- Location -->

					<div class="location">
						<img src="images/icons/location-icon.webp" style="width: 16px; height: 16px;">
						Hà Giang + Cao Bằng
					</div>

					<!-- Languages -->
					<div class="languages">
						<img src="images/icons/language-icon.PNG" style="width: 16px; height: 16px;">
						Việt Nam, English
					</div>
				</div>

				<!-- Action Buttons -->
				<div class="profile-card-footer">
					<button class="message-btn" th:text="#{sendMessage}">💬 Gửi tin nhắn</button>
				</div>
			</div>

			<div class="profile-card">
				<!-- Profile Image -->
				<img src="images/avatar/guide1.jpg" alt="Diana B." class="profile-img">

				<!-- Card Content -->
				<div class="profile-card-content">
					<h2 class="name">Nguyen Linh</h2>

					<!-- Rating -->
					<div class="rating">
						⭐⭐⭐⭐⭐ <span class="review-count">(22)</span>
					</div>

					<!-- Location -->
					<div class="location">
						<img src="images/icons/location-icon.webp" style="width: 16px; height: 16px;">
						Quảng Bình
					</div>

					<!-- Languages -->
					<div class="languages">
						<img src="images/icons/language-icon.PNG" style="width: 16px; height: 16px;">
						Việt Name, English
					</div>
				</div>

				<!-- Action Buttons -->
				<div class="profile-card-footer">
					<button class="message-btn" th:text="#{sendMessage}">💬 Gửi tin nhắn</button>
				</div>
			</div>


			<div class="profile-card">
				<!-- Profile Image -->
				<img src="images/avatar/guide2.jpg" alt="Diana B." class="profile-img">

				<!-- Card Content -->
				<div class="profile-card-content">
					<h2 class="name">Hà Nguyễn</h2>

					<!-- Rating -->
					<div class="rating">
						⭐⭐⭐⭐⭐ <span class="review-count">(22)</span>
					</div>

					<!-- Location -->
					<div class="location">
						<img src="images/icons/location-icon.webp" style="width: 16px; height: 16px;">
						Nha Trang
					</div>

					<!-- Languages -->
					<div class="languages">
						<img src="images/icons/language-icon.PNG" style="width: 16px; height: 16px;">
						Việt Nam, English
					</div>
				</div>

				<!-- Action Buttons -->
				<div class="profile-card-footer">
					<button class="message-btn" th:text="#{sendMessage}">💬 Gửi tin nhắn</button>
				</div>
			</div>

			<div class="profile-card">
				<!-- Profile Image -->
				<img src="images/avatar/guide4.jpg" alt="Diana B." class="profile-img">

				<!-- Card Content -->
				<div class="profile-card-content">
					<h2 class="name">Mr. Tuấn</h2>

					<!-- Rating -->
					<div class="rating">
						⭐⭐⭐⭐⭐ <span class="review-count">(22)</span>
					</div>

					<!-- Location -->
					<div class="location">
						<img src="images/icons/location-icon.webp" style="width: 16px; height: 16px;">
						Hạ Long + Cát Bà + Cô Tô
					</div>

					<!-- Languages -->
					<div class="languages">
						<img src="images/icons/language-icon.PNG" style="width: 16px; height: 16px;">
						Việt Nam, English
					</div>
				</div>

				<!-- Action Buttons -->
				<div class="profile-card-footer">
					<button class="message-btn" th:text="#{sendMessage}">💬 Gửi tin nhắn</button>
				</div>
			</div>

			<div class="profile-card">
				<!-- Profile Image -->
				<img src="images/avatar/guide3.jpg" alt="Diana B." class="profile-img">

				<!-- Card Content -->
				<div class="profile-card-content">
					<h2 class="name">Nguyễn Khánh Nam</h2>

					<!-- Rating -->
					<div class="rating">
						⭐⭐⭐⭐⭐ <span class="review-count">(22)</span>
					</div>

					<!-- Location -->

					<div class="location">
						<img src="images/icons/location-icon.webp" style="width: 16px; height: 16px;">
						Hà Giang + Cao Bằng
					</div>

					<!-- Languages -->
					<div class="languages">
						<img src="images/icons/language-icon.PNG" style="width: 16px; height: 16px;">
						Việt Nam, English
					</div>
				</div>

				<!-- Action Buttons -->
				<div class="profile-card-footer">
					<button class="message-btn" th:text="#{sendMessage}">💬 Gửi tin nhắn</button>
				</div>
			</div>

			<div class="profile-card">
				<!-- Profile Image -->
				<img src="images/avatar/guide1.jpg" alt="Diana B." class="profile-img">

				<!-- Card Content -->
				<div class="profile-card-content">
					<h2 class="name">Nguyen Linh</h2>

					<!-- Rating -->
					<div class="rating">
						⭐⭐⭐⭐⭐ <span class="review-count">(22)</span>
					</div>

					<!-- Location -->
					<div class="location">
						<img src="images/icons/location-icon.webp" style="width: 16px; height: 16px;">
						Quảng Bình
					</div>

					<!-- Languages -->
					<div class="languages">
						<img src="images/icons/language-icon.PNG" style="width: 16px; height: 16px;">
						Việt Name, English
					</div>
				</div>

				<!-- Action Buttons -->
				<div class="profile-card-footer">
					<button class="message-btn" th:text="#{sendMessage}">💬 Gửi tin nhắn</button>
				</div>
			</div>


			<div class="profile-card">
				<!-- Profile Image -->
				<img src="images/avatar/guide2.jpg" alt="Diana B." class="profile-img">

				<!-- Card Content -->
				<div class="profile-card-content">
					<h2 class="name">Hà Nguyễn</h2>

					<!-- Rating -->
					<div class="rating">
						⭐⭐⭐⭐⭐ <span class="review-count">(22)</span>
					</div>

					<!-- Location -->
					<div class="location">
						<img src="images/icons/location-icon.webp" style="width: 16px; height: 16px;">
						Nha Trang
					</div>

					<!-- Languages -->
					<div class="languages">
						<img src="images/icons/language-icon.PNG" style="width: 16px; height: 16px;">
						Việt Nam, English
					</div>
				</div>

				<!-- Action Buttons -->
				<div class="profile-card-footer">
					<button class="message-btn" th:text="#{sendMessage}">💬 Gửi tin nhắn</button>
				</div>
			</div>
		</div>

		<div class="tabindex">
			<a><svg th:replace="~{icons :: left}"></svg></a>
			<span>1</span>
			<span>/</span>
			<span>5</span>
			<a><svg th:replace="~{icons :: right}"></svg></a>
		</div>

	</section>



	<div th:replace="~{components :: footer}"></div>


</body>


</html>