<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
	<meta charset="UTF-8">
</head>

<body>

	<nav th:fragment="header" id="main-nav"
		class="navbar navbar-expand-lg navbar-dark position-fixed top-0 start-0 w-100 z-3">
		<div class="container">
			<a class="navbar-brand" style="font-weight: bold;" href="/" th:text="#{logo}">Nền tảng kết nối du lịch</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<img id="selected-flag" th:src="@{'/images/icons/flags/' + ${#locale.language} + '.svg'}"
								style="height: 20px;">
							<span id="selected-language" th:text="${#locale.language.toUpperCase()}"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="languageDropdown">
							<th:block th:with="languages=${'en,vn'.split(',')}">
								<li th:each="lang : ${languages}" th:if="${#locale.language != lang}">
									<a class="dropdown-item" th:attr="onclick='changeLanguage(\'' + ${lang} + '\')'"
										style="cursor: pointer;">
										<img th:src="@{'/images/icons/flags/' + ${lang} + '.svg'}"
											th:alt="${lang.toUpperCase()}" style="height: 20px;">
										<span th:text="${lang.toUpperCase()}"></span>
									</a>
								</li>
							</th:block>
						</ul>
					</li>


					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							<span>Trip</span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="languageDropdown">
							<!--<li>
								<a class="dropdown-item" href="/trips/new">
									<span>Danh sách Trip</span>
								</a>
							</li>-->
							<li>
								<a class="dropdown-item" href="/trips/new">
									<span>Tạo Trip</span>
								</a>
							</li>
							<li sec:authorize="!isAnonymous()">
								<a class="dropdown-item"
									th:href="@{/trips/creator/{id}(id=${session.loggedInUser.id})}">
									<span>Trip của tôi</span>
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="/trips/manage-all-requests">
									<span>Quản lý yêu cầu</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							<span>Post</span>
						</a>
						<ul class="dropdown-menu">
							<!--<li>
								<a class="dropdown-item" href="/posts/new">
									<span>Danh sách Post</span>
								</a>
							</li>-->
							<li>
								<a class="dropdown-item" href="/posts/new">
									<span>Tạo Post</span>
								</a>
							</li>
							<li sec:authorize="!isAnonymous()">
								<a class="dropdown-item" th:href="@{/posts/author/{id}(id=${session.loggedInUser.id})}">
									<span>Post của tôi</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown" sec:authorize="!isAnonymous()">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							<span>Rating</span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" th:href="@{/reviews/{id}(id=${session.loggedInUser.id})}">
									<span>Đánh giá đã nhận</span>
								</a>
							</li>
							<li>
								<a class="dropdown-item" th:href="@{/reviews/reviewed/{id}(id=${session.loggedInUser.id})}">
									<span>Đánh giá đã cho</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item" sec:authorize="!isAnonymous()">
						<a class="nav-link" href="/manager-appuser/verify">
							Manage Verify Account</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<svg th:replace="~{icons :: user}"></svg>
						</a>
						<ul sec:authorize="isAnonymous()" class="dropdown-menu" aria-labelledby="userDropdown"
							id="userPopup">
							<li>
								<a class="dropdown-item" href="/signup" th:text="#{signup}"></a>
							</li>
							<li>
								<a class="dropdown-item" href="/login" th:text="#{login}"></a>
							</li>
						</ul>
						<ul sec:authorize="!isAnonymous()" class="dropdown-menu" aria-labelledby="userDropdown"
							id="userPopup">
							<li>
								<a class="dropdown-item" th:href="@{/appusers/{id}(id=${session.loggedInUser.id})}">Tài
									khoản</a>
							</li>
							<li>
								<a class="dropdown-item" href="/logout">Đăng xuất</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<footer th:fragment="footer" id="footer" class=".container-fluid">
		<div class="row">
			<div class="col-3">
				<h2 th:text="#{support}"></h2>
				<br><a class="text-start" href="#" th:text="#{FAQs}"></a>
				<br><a class="text-start" href="#" th:text="#{contactUs}"></a>
				<br><a class="text-start" href="#" th:text="#{supportUs}"></a>
			</div>
			<div class="col-3">
				<h2 th:text="#{aboutUs}"></h2>
				<br><a href="#">Blog</a>
			</div>

			<div class="col-12 text-center">
				<br><br><br>
				<br>

				<p>&copy; 2025 Tourism Guide Connection Platform Company. All rights reserved.</p>
				<div>
					<a href="#">Privacy Policy</a> |
					<a href="#">Terms of Service</a> |
					<a href="#">Contact</a>
				</div>
				<div class="social-icons">
					<a href="#">🔵 Facebook</a>
					<a href="#">🔷 Twitter</a>
					<a href="#">📸 Instagram</a>
				</div>

			</div>
		</div>

	</footer>


</body>

</html>