<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chỉnh sửa Ngôn Ngữ</title>
</head>
<body>

    <h2>Chỉnh sửa Ngôn Ngữ</h2>

    <form th:action="@{/admin/manage/languages/update}" th:object="${language}" method="post">
        <input type="hidden" th:field="*{id}">
        <label>Tên Ngôn Ngữ:</label>
        <input type="text" th:field="*{name}" required>
        <button type="submit">Cập nhật</button>
    </form>

    <a href="/languages">Quay lại danh sách</a>

</body>
</html>
